*{
  margin: 0;
  padding: 0;
  //margin-top: 20px;
}
.my-dropdown{
  float: left;
  margin-right: 20px;
  margin-left: 20px;
  input{
    width: 200px;
    height: 40px;
    display: inline-block;
  }
  .item{
    list-style: none;
    border: 1px solid black;
  }
}